<h1 class="text-center">System Information</h1>

<ul>
  <li>Input arguments:&nbsp;<b>{{info.args}}</b></li>
  <li>Operative System: <b>{{info.os}}</b></li>
  <li>Node Version:&nbsp;<b>{{info.node}}</b></li>
  <li>Memory (rss):&nbsp;<b>{{info.memoryUsed}} Bytes</b></li>
  <li>Execution Path:&nbsp;<b>{{info.execPath}}</b></li>
  <li>Process ID:&nbsp;<b>{{info.processID}}</b></li>
  <li>Folder:&nbsp;<b>{{info.folder}}</b></li>
  <li>Processors (Qty):&nbsp;<b>{{info.processors}}</b></li>
</ul>